
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


#logo img{

  height:40px;
  margin: 10px 10px;

}
#logo{
  margin:50px 20px;

}

.navbar{
  display: flex;
  align-items: center;

}

.navbar ul{
  display: flex;

}

.navbar ul li{
  list-style: none;
  font-size: 2.3rem;

}
.navbar ul li a{
  display: block;


  border-radius: 10px;
  text-decoration: none;
  color: black;

  padding:2px 35px;

}
.navbar ul li a:hover{
  color:black;
  background: yellow;

}

.aitext {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
